In [9]:
import numpy as np
import pandas as pd
from scipy import stats
import glob

def to_bin_lat(y):
    lat_step = 2.5
    binned_lat = np.floor(y / lat_step) * lat_step
    return(binned_lat)

def to_bin_lon(x):
    lon_step = 2.5
    binned_lon = np.floor(x / lon_step) * lon_step
    return(binned_lon)

path_to_data = glob.glob('/home/bdc2/aodhan/ROM_SAF/collocations/*_ERA_5_colocated_occultations.npy')
collocation_arrays = [np.load(path_to_data[i], allow_pickle=True) for i in range(0, len(path_to_data))]
collocation_concatenation = np.concatenate(collocation_arrays, axis=0)
collocation_df = pd.DataFrame(collocation_concatenation, 
                              columns=['Day', 'Hour', 'Month', 'Year', 'Lat', 'Lon', 'TLS', 'Tprof'])

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [13]:
collocation_df

,Day,Hour,Month,Year,Lat,Lon,TLS,Tprof
0,1,0,1,2007,-70.25,2.75,-47.414144,"[6.56456590676072, -0.6752336548032076, -10.74..."
1,1,0,1,2007,-55.0,99.5,-47.56256,"[-2.355492720592963, -7.199826463051409, -19.2..."
2,1,0,1,2007,-54.5,333.5,-45.250738,"[3.5168315286313145, -4.003329080232334, -18.3..."
3,1,0,1,2007,-47.25,313.5,-56.597681,"[-1.1291515409075714, -7.583177282828615, -19...."
4,1,0,1,2007,-37.0,318.75,-60.949758,"[-3.595184426340211, -10.182715428880158, -24...."
...,...,...,...,...,...,...,...,...
11202770,31,23,1,2006,9.0,318.75,-70.768838,"[-17.009530853257047, -30.616149546375937, -33..."
11202771,31,23,1,2006,42.0,319.5,-59.974211,"[2.187497324141191, -14.800320389818182, -33.1..."
11202772,31,23,1,2006,63.0,337.0,-56.935191,"[-40.40117105437409, -46.25630074669073, -53.6..."
11202773,31,23,1,2006,59.5,147.75,-52.379946,"[-47.856654731643715, -49.221167076708866, -49..."
11202774,31,23,1,2006,26.25,127.5,-66.973475,"[-9.698440016735049, -20.313720359032118, -33...."

In [7]:
np.shape(collocation_concatenation)

collocation_concatenation_thing = collocation_concatenation[:,2]

In [8]:
np.unique(collocation_concatenation_thing)

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], dtype=object)